---
import { Markdown } from "@astropub/md";
const { left_column, right_column, style, breakpoint } = Astro.props;
---

<div class={(style || "") + ` flex flex-col items-center md:flex-row`}>
  <div
    class={`prose basis-1/2 md:w-1/2 text-color-inherit` +
      (left_column?.style || "")}
  >
    <Markdown of={left_column?.text || ""} />
  </div>
  <div
    class={`prose basis-1/2 md:w-1/2 text-color-inherit` +
      (right_column?.style || "")}
  >
    <Markdown of={right_column?.text || ""} />
  </div>
</div>
