---
import { Markdown } from "@astropub/md";
const { left_column, right_column, style } = Astro.props;
---

<div class="container mx-auto">
  <div class={(style || "") + " " + `grid grid-cols-1 md:grid-cols-2 w-full`}>
    <div class={(left_column?.style || "") + " " + `prose text-color-inherit`}>
      <Markdown of={left_column?.text || ""} />
    </div>
    <div class={(right_column?.style || "") + " " + `prose text-color-inherit`}>
      <Markdown of={right_column?.text || ""} />
    </div>
  </div>
</div>
